:root {
	--bg: #010b13;
	--plank-base: #81613e;
	--plank-border: #3d2b1f;
	--curtain-color: #800020;
	--curtain-shadow: #4d0013;
	--theater-back: #2e000b;

	--light-base: #2a3439;
	--light: #fffacd;

	--ctrl-panel: #67676b;
	--panel-shadow:#323234;
	--font-color: #fff;
	--font-light: #fffacd;
	--title-color: #FFF8E7;

	--btn-color-start: #555555;
	--brn-color-end: #484848;
	--btn-shadow: #363636;

	--slider-color: #7F7F7F;
	--slider-shadow: #474747;
	--dark-light: #8F8100;
	--track-color: #1F1F1F;
}

main,
main * {
	transform-style: preserve-3d;
}

body {
	margin: 0;
	/* KLOPT DIT? IK HEB DE PLANKEN BREDER GEDAAN MAAR NU ZIJN DE GORDIJNEN NIET EVEN BREED */
	overflow-x: hidden;
	background-color: var(--bg);

	display: flex;
	flex-direction: column;
	align-items: center;

	cursor: url("/images/cursor.svg") 18 13, auto
}

/* -------------------------------MARK: STAGE  
*/
/* bron: https://codepen.io/enbee81/pen/GgjZNGM?editors=1100 */

main {
	--plank-width: 3rem;
	--plank-height: 100%;
	perspective: 600px;

	width: 100vw;
	/* max-width: 800px; */
	height: 400px;
	position: relative;

	font-family: "Ballet", cursive;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

/* PLANKS */

main > section {
	position: absolute;
	left: 50%;
	right: 0;
	bottom: 0;

	width: 120%;

	transform: translateX(-50%) rotateX(90deg);
	transform-origin: center bottom;

	div {
		width: var(--plank-height);
		height: var(--plank-width);
		background-color: var(--plank-base);
		border-top: var(--plank-border) 2px solid;
	}
}

/* ACHTERGROND */
main > div:first-of-type {
	position: absolute;
	background-color: var(--theater-back);
	bottom: -48%;
	top: -50%;
	left: -50%;
	right: -50%;
	transform: translateZ(calc(-12 * var(--plank-width)));

	z-index: -2;
}

/* H1 */

h1 {
	font-size: 4rem;
	color: var(--title-color);
	width: 300px;
	/* text-align: center; */
	transform: translateZ(1rem);
	margin: 3rem auto;
	font-weight: normal;

	span:first-of-type {
		display: inline-block;
		font-size: 2.3rem;
		transition: transform 1s ease-in;

	}
	span:last-of-type{
		display: inline-block;
		transition: transform 1s ease-in;

	}

}

/* CURTAINS */
main > aside {
	background: repeating-linear-gradient(
		to right,
		var(--curtain-color) 0px,
		var(--curtain-shadow) 10px,
		var(--curtain-shadow) 20px,
		var(--curtain-color) 30px
	);

	position: absolute;
	bottom: 0;
	top: 0;
	width: 50vw;

	transition: transform 1.2s ease-in-out;

	&:first-of-type {
		left: 0;
		transform: translateX(0);
	}
	&:last-of-type {
		right: 0;
		transform: translateX(0);
	}
}

/* -------------------------------MARK: LAMPS/LIGHT  
*/
/* LAMP */
main section + div {
	position: absolute;
	transform: translateX(calc(50vw + var(--lamp-place)));
	top: 0;
	width: 35px;

	div:nth-of-type(1) {
		clip-path: ellipse();
		background-color: var(--light-base);

		height: 10px;
	}

	div:nth-of-type(2) {
		background-color: var(--light-base);

		height: 35px;
		transform: translateY(-5px);
	}

	div:nth-of-type(3) {
		clip-path: ellipse();
		background-color: var(--light);
		height: 10px;
		transform: translateY(-10px);

		anchor-name: --lamp;
	}
}

/* LIGHT */
main section + div + div {
	clip-path: polygon(42% 0%, 60% 0%, 100% 100%, 0% 100%);
	background-color: var(--light);

	position: fixed;
	transform-origin: top;
	opacity: 50%;

	anchor-name: --light-anch;
	transform: skew(var(--light-place));

	width: 200px;
	position-anchor: --lamp;
	top: anchor(--lamp center);
	bottom: calc(anchor(top) - 315px);
	left: calc(anchor(left) - 84.5px);
	right: calc(anchor(right) + 84.5);
}

/* SPOTLIGHT */
main section + div + div + div {
	clip-path: ellipse();
	background-color: var(--light);

	bottom: 35px;
	position: fixed;

	position-anchor: --light-anch;
	left: anchor(--light-anch left);

	width: 200px;
	height: 30px;
}

@container style(--light-place > 0deg) {
	main section + div + div + div {
		left: unset;
		right: anchor(--light-anch right);
	}
}

/* ---------------------------- MARK: OBJECTS
 */

 img {
	width: 10rem;
	position: relative;
	left: 20vw;
	top: -12rem;
	transform: translateZ(-5rem);
 }
/* ---------------------------- MARK: PANEL
 */

footer {
	--btn-width: 40px;
	--btn-height: 40px;
	--range-width: 100px;

	cursor: url('/images/cursor.svg') 18 13, auto;

	width: 80%;
	max-width: 450px;
	height: 215px;
	background: var(--ctrl-panel);
	background: radial-gradient(
		circle,
		rgba(103, 103, 107, 1) 0%,
		rgba(53, 56, 57, 1) 100%
	);
	box-shadow: 0 12px 0 var(--panel-shadow);

	border-radius: 10px;
	position: relative;
	margin-top: -0.7rem;
	padding: 1rem;

	font-family: "hyperspace-race-cap-variable", sans-serif;
	font-variation-settings:
		"wdth" 100,
		"wght" 400;
	color: var(--font-color);
	text-shadow: 1px 0 5px var(--font-light);

	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: .4rem;
}

footer label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: url('/images/cursor.svg') 18 13, auto;
	text-align: center;

	input {
		width: var(--range-width);
		margin-top: 0.8rem;
		cursor: url('/images/cursor-pointer.svg') 11 1, pointer;

	}
}

/* positionering van de verschillende inputs */

footer {
	& > label:nth-of-type(1) {
		grid-area: 2 / 1 / 2 / 1;
	}
	& > label:nth-of-type(2) {
		grid-area: 3 / 1 / 3 / 1;
	}
	& > label:nth-of-type(3) {
		grid-area: 2 / 2 / 2 / 2;
	}
}

/* MARK: btns
*/

/* dankzij: https://youtu.be/EcnqLgCEGKU */

footer > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
	p {
		margin: 0 0 .2rem;
	}
	label {
		width: var(--btn-width);
		height: var(--btn-height);
		background: linear-gradient(
			180deg,
			var(--btn-color-start) 0%,
			var(--brn-color-end) 100%
		);
		border-radius: 0.5rem;
		box-shadow:
			0 6px 0 var(--btn-shadow),
			0 12px 20px rgba(0 0 0 / 0.1);

		&:has(input:checked) {
			transform: translateY(6px);
			box-shadow:
				inset 0 2px 0 var(--btn-shadow),
				inset 0 4px 8px rgba(0 0 0 / 0.4);
			svg {
				fill: var(--light);
			}
		}
		svg {
			fill: #303030;
		}
		input {
			display: none;
		}
	}
}

/* MARK: sliders
*/

/* met behulp van: 
- https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
- https://range-input-css.netlify.app
*/

input[type="range"] {
	--webkit-appearance: none;
	appearance: none;
	background: transparent;

	cursor: url('/images/cursor-pointer.svg') 11 1, pointer;

	/* margin-top: .8rem; */

	&::-webkit-slider-runnable-track {
		background-color: var(--track-color);
		height: .25rem;
		border-radius: .2rem;
	}

	&::-webkit-slider-thumb {
  		-webkit-appearance: none;

		--thumb-height: .8rem;
		--thumb-width: 1.5rem;

		background: repeating-linear-gradient(
		to right,
		var(--slider-color) 0px,
		var(--slider-shadow) calc(.35 * var(--thumb-width)),
		var(--slider-shadow) calc(.44 * var(--thumb-width)),
		var(--font-light) calc(.48 * var(--thumb-width)),
		var(--dark-light) calc(.52 * var(--thumb-width)),
		var(--slider-shadow) calc(.56 * var(--thumb-width)),
		var(--slider-shadow) calc(.65 * var(--thumb-width)),
		var(--slider-color) var(--thumb-width)
		);
		margin-top: calc(-0.5 * var(--thumb-height));
		height: var(--thumb-height);
  		width: var(--thumb-width);

		box-shadow:
			0 4px 0 var(--btn-shadow),
			0 12px 20px rgba(0 0 0 / 0.1);
	}
	&:focus{
		outline: none;
	}

}


/* MARK: ctrl curtains
 */
main:has(+ footer > div:nth-of-type(1) input:checked) {
	h1 {
		span:first-of-type {
			transform: translateX(-500%);
		}
		span:last-of-type{
			transform: translateX(500%);
		}
	}
    aside:first-of-type {
		transform: translateX(-62%);
    }
	aside:last-of-type {
		transform: translateX(62%);
    }
}

/* 
VRAGEN
- Kan je met css de value van de min en max van de range aanpassen?
==> anders moet je het maar met movement lamp aanpassen :)
==>https://dev.to/janeori/css-type-casting-to-numeric-tanatan2-scalars-582j
- Nog zon licht spotlight als gordijn dicht is
*/
